/* body
{
margin: 0;
padding: 0;
background-color: lightcyan;
overflow-x: hidden;
-webkit-animation: amit 6s infinite;
-o-animation: amit 6s infinite;
-i-animation: amit 6s infinite;
-moz-animation: amit 6s infinite;
animation: amit 6s infinite;
} */

body
{
margin: 0;
padding: 0;
background :url('../images/a.jpg') no-repeat;
background-size: cover;
background-position: center;
overflow-x: hidden;
-webkit-animation: amit 6s infinite;
-o-animation: amit 6s infinite;
-i-animation: amit 6s infinite;
-moz-animation: amit 6s infinite;
animation: amit 6s infinite;
}


#content
{
width: 60%;
height: auto;
padding: 25px;
display: flex;
flex-wrap: wrap;
margin: auto;
margin-top: 5%;
background-color: black;

/* -webkit-animation: amit2 2s infinite;
-o-animation: amit2 2s infinite;
-i-animation: amit2 2s infinite;
-moz-animation: amit2 2s infinite;
animation: amit2 2s infinite; */

}
.box1
{
    width: 40%;
    height: auto;
    padding: 25px;
    margin: 10px;
    background-color:cornflowerblue;
}
.box2
{
    width: 40%;
    height: auto;
    padding: 25px;
    margin: 10px;
    background-color:yellowgreen;
}

/* applied animation using keyframes */

/* @keyframes amit 
{
    from
    {
        margin: 0;
        padding: 0;
        background-color: white;
    }
    to
    {
         margin: 0;
        padding: 0;
        background-color: yellow;
    } */
    

/* @keyframes amit2 
{
    from
    {
        margin: 0;
        padding: 0;
        background-color: white;
    }
    to
    {
         margin: 0;
        padding: 0;
        background-color: black;
    }
    
} */

/* @keyframes amit 
{
    0%
    {
        margin: 0;
        padding: 0;
        background-color: orange;
    }
    20%
    {
         margin: 0;
        padding: 0;
        background-color: white;
    }
    40%
    {
         margin: 0;
        padding: 0;
        background-color: blue;
    }
    60%
    {
         margin: 0;
        padding: 0;
        background-color: green;
    }
    80%
    {
         margin: 0;
        padding: 0;
        background-color: black;
    }
    100%
    {
         margin: 0;
        padding: 0;
        background-color: black;
    }
    
} */

@keyframes amit 
{
    0%
    {
        margin: 0;
        padding: 0;
        background :url('../images/a.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    20%
    {
         margin: 0;
        padding: 0;
        background :url('../images/b.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    40%
    {
        margin: 0;
        padding: 0;
        background :url('../images/c.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    60%
    {
         margin: 0;
        padding: 0;
        background :url('../images/d.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    80%
    {
         margin: 0;
        padding: 0;
        background :url('../images/e.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    100%
    {
         margin: 0;
        padding: 0;
        background :url('../images/f.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    
}