body
{
background-color: #f7f7f7;
}
#content
{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.user_info
{
    width: 25%;
    height: auto;
    padding: 25px;
    ;
}
.user_about
{
    width: 25%;
    height: auto;
    padding: 25px;
    margin-top: 1%;
}
#btn
{
    width: 200px;
    height: 40px;
    border:solid 2px lightcoral;
    font-size: 20px;
    border-radius: 50px;
    text-transform: uppercase;
    

}
.user_img
{
    background-color: #ef6244;
    width: 25%;
    height: auto;
    padding: 25px;
    margin-top: 1%;
    
    
}
.user_img img
{
    border-radius: 50%;
    margin-top: -30%;
    margin-bottom: 30px;
}
/* mobile breckpoints for responsive */
@media only screen and (min-width: 320px) and (max-width: 580px)
{
#content
{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 25px;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
.user_info
{
    width: 90%;
    height: auto;
    padding: 25px;
    
}
.user_about
{
    width: 90%;
    height: auto;
    padding: 25px;
    margin-top: 1%;
}
.user_img
{
    background-color: #ef6244;
    width: 90%;
    height: auto;
    padding: 25px;
    margin-top: 20%;
}
}